*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-color: rebeccapurple;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

header>h1{
    color: white;
    font-size: 4rem;
}

header>p{
    margin-top: 1rem;
    color: white;
}

.formulario{
    width: 25rem;
    height: 27rem;
    background-color: black;
    border-radius: 20px;
    margin-bottom: 9rem;
}

.formulario>form{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container-btn{
    display: flex;
    background-color: rgb(13, 13, 122);
    color: white;
    border: 2px solid black;
    border-radius: 20px;
    transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    overflow: hidden;
    position: relative;
    top: 6rem;
}

.container-btn:hover{
    transform: translateY(-10px) scale(1.1);
    border-color: white;
    border: 1px solid;
}

.btn-validar{
    background-color: rgb(13, 13, 122);
    color: white;
    border: 2px solid transparent;
    font-size: 1.4rem;
    cursor: pointer;
    padding: 1rem 4rem;
}
 
.form-campos{
    display: flex;
    flex-direction: column;
}

.age-form{
    position: relative;
    top: 2rem;
    font-size: 1.3rem;
}

.name-form{
    font-size: 1.3rem;
}

.form-campos>input{
    border-radius: 20px;
    padding: .5rem 1rem;
    border: 1px solid burlywood;
}

.text-information{
    position: relative;
    top: 4rem;
    text-align: center;
}
